*,
::after,
::before {
    box-sizing: border-box;
    margin: 0 auto;
}

body {
    font-family: 'Inter', sans-serif;
}

.first-section,
.third-section,
.fourth-and-fifth-section,
.sixth-section,
.seventh-section,
.ninth-section,
.tenth-section {
    background-color: #222C6B;
    color: #fff;
}

.second-section {
    background-color: #F5F5F5;
    color: #222C6B;
}

.eighth-section {
    background-color: #F5F5F5;
    color: #000;
}

.split {
    height: 100%;
    width: 50%;
    position: relative;
    z-index: 1;
    top: 0;
    /* overflow-x: hidden; */
    /* padding-top: 20px; */
  }

  .left-1 {
    left: 0;
  }

  .right-1 {
    right: 0;
  }

  .centered {
    text-align: center;
  }
